.Content {
    display: grid;
    grid-template-rows: 80% 20%;
    width: 100%;
    height: 91.5%;
    background: var(--main-color);
}

.Content > section {
    border-top: 2px solid grey;
}

.Content .Center {
    display: grid;
    grid-template-columns: 100px 95%;
    background: var(--main-color);
}

.Content .Center > div {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.Content .Center > div > .Tools {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 32px);
    grid-template-rows: repeat(auto-fill, 32px);
    margin-top: 10px;
    gap: 2px;
    width: 100%;
    height: 200px;
}

.Content .Center > div > .Space {
    width: 80px;
    height: 120px;
    margin-bottom: 10px;
    box-shadow: inset 1px 1px 3px black;
}

.Content .Center > div > .Tools > button{
    margin-top: 2px;
}

.Tools > button > img {
    width: 100%;
    height: 100%;
}

.Content .Center .Canvas {
    background: white;
    box-shadow: inset 1px 1px 3px black;
}

.Content .Bottom {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background: var(--main-color);
}

.Content .Bottom .Panel {
    width: 8%;
    height: 80px;
    box-shadow: inset 1px 1px 5px black
}

.Content .Bottom .Colors {
    display: grid;
    grid-template-columns: repeat(12, 30px);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: auto;
    height: 65px
}

.Content .Bottom .Colors > div {
    box-shadow: inset 2px 2px black;
}

button:hover, 
.Colors > div:hover {
    cursor: pointer;
}